{
  "development": {
    "VITE_APP_MODE": "dev",
    "VITE_APP_API": "",
    "VITE_NAV_LAYOUT": "sidebar"
  },
  "tail": {
    "VITE_APP_MODE": "dev",
    "VITE_APP_API": "http://REPLACE_WITH_TAILSCALE_IP:3105",
    "VITE_NAV_LAYOUT": "sidebar"
  },
  "test": {
  },
  "docker": {
    "VITE_APP_MODE": "docker",
    "VITE_APP_API": "",
    "VITE_NAV_LAYOUT": "sidebar"
  },
  "production": {
    "VITE_APP_MODE": "prod",
    "VITE_APP_API": "http://REPLACE_WITH_PROD_HOST:3005",
    "VITE_NAV_LAYOUT": "sidebar"
  }
}
