{
  "development": {
    "NODE_MODE": "dev",
    "DATABASE_URL": "postgres://fin:REPLACE_WITH_DB_PASSWORD@localhost:5434/fin",
    "ACCOUNT_NAMES_PATH": "../../components/data/account_names.json",
    "CATEGORY_NAMES_PATH": "../../components/data/category_names.json",
    "COA_PATH": "../../components/data/coa.json",
    "PORT": "3105"
  },
  "production": {
    "NODE_MODE": "prod",
    "DATABASE_URL": "postgres://fin:REPLACE_WITH_DB_PASSWORD@localhost:5433/fin",
    "ACCOUNT_NAMES_PATH": "../../components/data/account_names.json",
    "CATEGORY_NAMES_PATH": "../../components/data/category_names.json",
    "COA_PATH": "../../components/data/coa.json",
    "PORT": "3005"
  },
  "docker": {
    "NODE_MODE": "docker",
    "DATABASE_URL": "postgres://fin:REPLACE_WITH_DB_PASSWORD@fin-postgres:5432/fin",
    "ACCOUNT_NAMES_PATH": "../../components/data/account_names.json",
    "CATEGORY_NAMES_PATH": "../../components/data/category_names.json",
    "COA_PATH": "../../components/data/coa.json"
  }
}
